An emergency has been reported. The user input is: '{{ user_input }}'
Determine the type of emergency and ask the user to wait while you get the information. Also ask for the user's location.

Your response should be in the following format:
{
    "emergency_type": "Specific type of emergency",
    "response": "Your response asking for the user's location"
}